<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('../navbar/adminNavbarView.ejs') %>
    <h1>Admin</h1>
    <p>Welcome to the home page!</p>
</body>

</html>