<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('../navbar/navbarView.ejs') %>
    <br>
    <br>
    <div class="container">
        <% blogPosts.forEach(function(blogPost) { %>
            <%- include('../blog/blogPost.ejs', {blogPost: blogPost}) %>
        <% }); %>
    </div>
</body>

</html>